.p {
    font-size: 36px;
    color: blue;
    margin-left: 15px;
}

.p2 {
    font-size: 15px;
    color: red;
    font-family: 'Merriweather Sans', sans-serif;
}

.p3 {
    font-size: 26px;
    color: purple;
    font-weight: 20px;
    margin-left: 15px;
}